html, body {
    height: 100%;
}

body {
    margin: 0;
}

.app {
    height: 100%;
}

.hide {
    display: none !important;
}

.clear:after {
    content: " ";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
}

button {
    background: none;
    border: 1px solid #ddd;
    box-shadow: none;
    outline: 0;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(/img/ico.angle.bottom.png);
    background-size: 20px;
    background-position: calc(100% - 7px) calc(50% - 1px);
    background-repeat: no-repeat;
}

.pointer {
    cursor: pointer;
}

.pointer-u {
    cursor: pointer;
}

.clearfix:after {
    content: " ";
    clear: both;
    display: table;
}

.pointer-u:hover {
    text-decoration: underline;
}

.color-point {
    color: #1259a7 !important;
}

.bacgkround-point {
    background-color: #1259a7 !important;
}

.border-point {
    border-color: #1259a7 !important;
}

.btn-point {
    border-color: #1259a7 !important;
    background-color: #1259a7 !important;
    color: #fff !important;
}

.btn-point:hover {
    border-color: #146ece !important;
    background-color: #146ece !important;
}

.btn-point-hover:hover {
    border-color: #146ece !important;
    background-color: #146ece !important;
}

.border-point {
    border-color: #1259a7 !important;
}

.badge-point {
    border-color: #1259a7 !important;
    background-color: #1259a7 !important;
    color: #fff !important;
}

.badge-navy {
    border-color: #04045d !important;
    background-color: #04045d !important;
    color: #fff !important;
}

.badge-ocean {
    border-color: #1069af !important;
    background-color: #1069af !important;
    color: #fff !important;
}

.badge-yellowgreen {
    border-color: yellowgreen !important;
    background-color: yellowgreen !important;
    color: #fff !important;
}

.badge-purple {
    border-color: rgb(167, 8, 167) !important;
    background-color: rgb(167, 8, 167) !important;
    color: #fff !important;
}

.focus-border-pointer:focus {
    border-color: #146ece !important;
}

.no-radius {
    border-radius: 0 !important;
}

.font-parisienne {
    font-family: "Parisienne", cursive;
}

.font-poppins {
    font-family: "Poppins", cursive;
}

.font-coding {
    font-family: "Nanum Gothic Coding", monospace;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disabled, [disabled] {
    cursor: not-allowed !important;
}
